.pageBody {
  /* border: 2px solid black; */
  width: 1200px;
  /* height: 110vh; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.3);
  /* background-color: white; */
}

body {
  min-width: 1400px;
}

.page {
  /*background-image: url("../images/body.jpeg");*/
  background-image: url("../images/background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.page_header {
  /* border: 2px solid black; */
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 30px;
  height: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*background-color: white;*/
  background-color: #4dad25;
  color: black;
}

.page_desc {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  margin-top: 30px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  color: black;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.page_main {
  /* display: flex;
  flex-direction: column; */
  /* border: 2px solid black; */
  width: 1000px;
   margin-top: 40px; 
  /* height: 1600px; */
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 40px;
    /*background-image: url("../images/body.jpeg");*/
}
.main_title {
  /* text-decoration: underline; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* padding: 2px; */
  font-size: 15px;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 900; */
  border-radius: 5px;
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*.leaf_image {
   border: 2px solid black; 
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/body.jpeg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}*/

.container {
  /* border: 2px solid black; */
  width: 800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 20px;
  background-color: #cccccc;
  border-radius: 20px;
  margin-bottom: 40px;
}

.leaf {
  /* border: 2px solid black; */
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*float: left !important; */
}

.trunk {
  /* border: 2px solid black; */
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  /* border: 2px solid black; */
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right !important;
}

.leaf_head {
  font-size: 20px;
  margin-top: 30px;
  background-color: #40043c;
  color: white;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
  /* border: 2px solid black; */
}
.leaf_photo,
.trunk_photo {
  border: 2px solid black; 
  width: 220px;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.leaf_input {
  /* border: 2px solid black; */
  background-color: #40043c;
  color: white;
  border-radius: 10px;
  width: 300px;
  padding: 5px;
}

.btn {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}



button {
  display: inline-block;
  padding: 12px 50px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  /*background-color: #4CAF50;*/
  background-color: #57b846;
  border: none;
  border-radius: 40px;

}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
